<span class="govuk-caption-xl">
{{data.mainContent.headerText}}
</span>
<h1 class="govuk-heading-xl">
{{data.preferredName | capitalize}}
</h2>
{% if data.quarantineIndicator =='Q'  %} 
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span> 
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
      {{data.mainContent.content1}} {{data.preferredName}}{{data.mainContent.content2}} 
  </strong>
  <br>
   <p class="govuk-body">{{data.mainContent.content7}} <a class="govuk-link govuk-body" href={{data.ContactAuthURL}}>{{data.mainContent.content8}}</a></p>
  </div> 
 {%endif%}
  {% if data.quarantineIndicator =='P'  %} 
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
      {{data.mainContent.content1}} {{data.preferredName}} {{data.mainContent.content9}} 
        </strong>
         <br>
      <p class="govuk-body"> {{data.mainContent.content10}}<a class="govuk-link govuk-body" href={{data.Annex3URL}}>{{data.mainContent.content11}} </a></p>
     <p class="govuk-body"> {{data.mainContent.content7}} <a class="govuk-link govuk-body" href={{data.ContactAuthURL}}>{{data.mainContent.content8}}</a></p>

  </div>
 {%endif%}
 {% if data.quarantineIndicator =='R'  %} 
  <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
      {{data.mainContent.content1}} {{data.preferredName}} {{data.mainContent.content13}} 
        </strong>
      <br>
     <p class="govuk-body"> {{data.mainContent.content7}} <a class="govuk-link govuk-body" href={{data.ContactAuthURL}}>{{data.mainContent.content8}}</a></p>

  </div>
 {%endif%}

<h2 class="govuk-heading-m govuk-!-margin-bottom-0">
{{data.mainContent.preferredNameHeading}}
</h2>
<p class="govuk-body">
{{data.preferredName | capitalize}}
</p>
<h2 class="govuk-heading-m govuk-!-margin-bottom-0">
{{data.mainContent.commonNameHeading}}
</h2>
<ul class="govuk-list">
{% if data.commonNames.length > 0 %}
{% for item in data.commonNames %}
    <li>{{item}}</li>
{% endfor %}
{%else%}
    <p class="govuk-body">{{data.mainContent.noneText}}</p>
{%endif%}
</ul>
<h2 class="govuk-heading-m govuk-!-margin-bottom-0">
{{data.mainContent.synonymNameHeading}}
</h2>
<ul class="govuk-list">
{% if data.synonymNames.length > 0 %}
{% for item in data.synonymNames %}
    <li>{{item}}</li>
{% endfor %}
{%else%}
    <p class="govuk-body">{{data.mainContent.noneText}}</p>
{%endif%}
</ul>
{% if photores %}
<div class="govuk-inset-text">
  <p class="govuk-body">You can  <a class="govuk-link govuk-body" href={{data.photoURL}} > view photos of {{data.preferredName}} in the EPPO Global Database. </a> </p></div>
{% else %}
<div class="govuk-inset-text">
  <p class="govuk-body">There are no photos of {{data.preferredName}} to view in the EPPO Global Database.</p></div>
        {% endif %} 
        
{% if (data.factsheetlinks != "") or (data.otherPublications != "") %}
<h2 class="govuk-heading-l govuk-!-margin-bottom-0">
{{data.mainContent.HeaderText1}} {{data.preferredName }}
</h2>
<p class="govuk-body"></p>

<p class="govuk-body">{{data.mainContent.Planthealthfiletext}}</p>
<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Request an accessible format
    </span>
  </summary>
  <div class="govuk-details__text">
   If you use assistive technology (such as a screen reader) and need a version of this document in a more accessible format, please email plantpestsrisks@defra.gov.uk. Please tell us what format you need. It will help us if you say what assistive technology you use.​ </div>
</details>
    {% endif %} 
{% if data.factsheetlinks != "" %}


<h3 class="govuk-heading-m">
{{mainContent.HeaderTextFact | capitalize}}
</h3>
  
 <table class="govuk-table">
 
   <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{mainContent.HeaderTextFactTable1}}</th>
              <th scope="col" class="govuk-table__header">{{mainContent.HeaderTextFactTable2}}</th>
               </tr>
          </thead>
 <tbody class="govuk-table__body">
                   {% for item in data.factsheetlinks %}
                <tr class="govuk-table__row">
              
                  <td class="govuk-table__cell"> {{item.PUBLICATION_DATE_FORMATTED}}</td>
                  
                   <td class="govuk-table__cell">  <a class="govuk-link govuk-body" href={{item.DOCUMENT_HYPER_LINK}} >{{item.DOCUMENT_TYPE}} - {{item.TITLE[0]}} </a>
                   <br> ({{item.FILE_EXTENSION}})
                   </td>               
                   
        </tr>
        {% endfor %}
          </tbody>
        </table>
          {% endif %}
          {% if data.otherPublications != "" %}   
         
         {% if data.factsheetlinks != "" %}
<h3 class="govuk-heading-m">
{{mainContent.HeaderTextOtherObs | capitalize}}
</h3>
   {% endif %}
 <table class="govuk-table">
 
   <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{mainContent.HeaderTextFactTable1}}</th>
              <th scope="col" class="govuk-table__header">{{mainContent.HeaderTextFactTable2}}</th>
               </tr>
          </thead>
 <tbody class="govuk-table__body">
                   {% for item in data.otherPublications %}
                <tr class="govuk-table__row">
              
                  <td class="govuk-table__cell"> {{item.PUBLICATION_DATE_FORMATTED}}</td>
                  
                   <td class="govuk-table__cell">  <a class="govuk-link govuk-body" href={{item.DOCUMENT_HYPER_LINK}} > {{item.DOCUMENT_TYPE}} - {{item.TITLE[0]}} </a>
                    <br> ({{item.FILE_EXTENSION}})
                   </td>               
                   
        </tr>
        {% endfor %}
          </tbody>
        </table>
          {% endif %}
                {% if data.quarantineIndicator =='R'  %} 
<h2 class="govuk-heading-l govuk-!-margin-bottom-0">
{{data.mainContent.HeaderText3}} {{data.preferredName }}
</h2>
<p class="govuk-body">
 <p class="govuk-body">{{data.mainContent.content14}}  <a class="govuk-link govuk-body" href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/" >{{data.mainContent.content15}}   </a> {{data.mainContent.content16}} {{data.preferredName }} {{data.mainContent.content17}} {{data.mainContent.content18}} </p>

<p class="govuk-body">{{data.mainContent.content3}} {{data.preferredName }} {{data.mainContent.content4}}</p>

      {% endif %}
 {% if data.quarantineIndicator !='R'  %} 
<h2 class="govuk-heading-l govuk-!-margin-bottom-0">
{{data.mainContent.HeaderText4}} {{data.preferredName }}
</h2>
<p class="govuk-body">
 <p class="govuk-body">{{data.preferredName }} {{data.mainContent.content19}}</p>
   {% endif %}
</p>
