<span class="govuk-caption-xl">
{{data.mainContent.headerText}}
</span>
<h1 class="govuk-heading-xl">
{{data.searchQuery.value  | replace(")", "")  | capitalize}}
</h1>
{% if data.result.annexSixRule !== 'INNS'%}
 <div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span> 
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
     {{data.mainContent.warningcontent}}
    </strong>
    </div>
 {%endif%}
<dl>
<dt>
<h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-1">
{{data.mainContent.preferredNameHeading}}
</h2>
</dt>

<dd class="govuk-!-margin-left-0"><p >{{preferredName}}</p></dd>

<dt><h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-1">
{{data.mainContent.commonNameHeading}}
</h2></dt>
<dd>
<dd class="govuk-!-margin-left-0">
{% if data.commonNames.length > 0 %}
{% for item in data.commonNames %}
    <dt>{{item}}</dt>
{% endfor %}
{%else%}
    <p>{{data.mainContent.noneText}}</p>
{%endif%}
</dd>
</dd>
<dt><h2 class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-margin-top-1">
{{data.mainContent.synonymNameHeading}}
</h2></dt>
<dd>
<dd class="govuk-!-margin-left-0">
{% if data.synonymNames.length > 0 %}
{% for item in data.synonymNames %}
    <dt>{{item}}</dt>
{% endfor %}
{%else%}
    <p>{{data.mainContent.noneText}}</p>
{%endif%}
</dd>
</dd>
<dt><h2 class="govuk-heading-m govuk-!-margin-left-0 govuk-!-margin-bottom-0 govuk-!-margin-top-2">
{{mainContent.eppoCodeHeading}}
</h2></dt>

<dd class="govuk-!-margin-left-0 govuk-!-margin-top-1">
{% if eppoCode !== '' %}
 {{eppoCode}}
{%else%}
 {{data.mainContent.noneText}}
{%endif%}
</dd>
</p>
</dl>
 