<h2 class="govuk-heading-m">
    {{data.mainContent.prohibitedHeader}}
</h2>
<h3 class="govuk-heading-s govuk-!-margin-bottom-0">
    {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value | capitalize}} {{data.mainContent.prohibitedContentText2}} {{data.format | capitalize}}
</h3>
<p class="govuk-body-s govuk-!-margin-top-0">{{data.mainContent.prohibitedContentText3}} <a class="govuk-link"
            href={{data.url}}>{{data.urlText}}</a></p>
<h2 class="govuk-heading-m">
    {{data.mainContent.pestHeader}}
</h2>