<h3 class="govuk-heading-s">
    {{data.mainContent.prohibitedHeader}}
</h3>
{% if data.result.hybridIndicator.length >= 1 %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"></span>
    {% if processedData.length > 1%}
     {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} (or its hybrids) {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value | capitalize}} {{data.mainContent.prohibitedContentText2}} {{data.format | capitalize}} unless it is:
    {% else %}
     {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} (or its hybrids) {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value | capitalize}} {{data.mainContent.prohibitedContentText2}} {{data.format | capitalize}}
    {% endif %}
    {% if data.result.subformat.length ===1 %} 
        {% if ulIndicatorFlag %}           
        <h3 class="govuk-heading-s">
            {{data.mainContent.exceptionHeader}}
        </h3>
        <div class="govuk-body govuk-!-margin-bottom-0 govuk-!-padding-bottom-0">   
            <ul>
                {% for itr in ulIndicatorList %}
                {% if itr.flag.length === 1 %}
                    <li>{{itr.name}}</li>
                {% endif %}
                 {% if itr.flag.length > 1 %}
                    <li>{{itr.name}}({{itr.flag}})</li>
                {% endif %}
                {% endfor %}
                {% if data.result.FormatClarification.length > 1 %}
                <li>{{data.result.FormatClarification}}</li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
    {% endif %}
   </strong>
   </div> 
    <div class="govuk-body">   
    <p class="govuk-body govuk-!-padding-top-0 govuk-!-margin-bottom-1">{{data.mainContent.prohibitedContentText3}} <a class="govuk-link"
                href={{data.url}}>{{data.urlText}}</a></p>
    </div>            
{% else %}
<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"></span>
    {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value | capitalize}} {{data.mainContent.prohibitedContentText2}} {{data.format | capitalize}}
   </strong>
   </div> 
<div class="govuk-body">   
 <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">{{data.mainContent.prohibitedContentText3}} <a class="govuk-link"
            href={{data.url}}>{{data.urlText}}</a></p>

{% if data.result.subformat.length ===1 %}            
    <h3 class="govuk-heading-s">
        {{data.mainContent.exceptionHeader}}
    </h3>
    <div class="govuk-body">   
    <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">{{data.mainContent.exceptionHelpText}}
        {% if ulIndicatorFlag %}
            <ul>
                {% for itr in ulIndicatorList %}
                {% if itr.flag.length === 1 %}
                    <li>{{itr.name}}</li>
                {% endif %}
                 {% if itr.flag.length > 1 %}
                    <li>{{itr.name}}({{itr.flag}})</li>
                {% endif %}
                {% endfor %}
                {% if data.result.FormatClarification.length > 1 %}
                <li>{{data.result.FormatClarification}}</li>
                {% endif %}
            </ul>
        {% else %}
            {% for itr in ulIndicatorList %}
                {% if itr.flag.length === 1 %}
                    {{itr.name}}
                {% endif %}
                {% if itr.flag.length > 1 %}
                    {{itr.name}}({{itr.flag}})
                {% endif %}
            {% endfor %}
            {% if data.result.FormatClarification.length > 1 %}
             {{data.result.FormatClarification}}
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% endif %}
{% if data.result.ProhibitionClarification.length > 1 %}
    <h3 class="govuk-heading-s">
        {{data.mainContent.prohibitionClarificationHeader}}
    </h3>
    <p>{{data.result.ProhibitionClarification}}</p>
{% endif %}
</div>

