<h2 class="govuk-heading-m">
    {{data.mainContent.prohibitedHeader}}
</h2>
{% if ulIndicatorFlag %}
{% set colon = ':'%}
{% else %}
{% set colon = ''%}
{%endif%}
{% if data.result.hybridIndicator.length >= 1 %}
    <div class="govuk-warning-text govuk-!-margin-bottom-0">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive"></span>
        {% if processedData.length > 1%}
        {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} (or its hybrids) {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value}} {{data.mainContent.prohibitedContentText2}} {{data.format}} unless it is:
        {% else %}
        {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} (or its hybrids) {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value }} {{data.mainContent.prohibitedContentText2}} {{data.format}}.
        {% endif %}
        </strong>
    </div>    
    {% if data.result.subformat.length ===1 and processedData.length > 0 %} 
       <div class="govuk-body govuk-!-margin-bottom-0">  
            {% if ulIndicatorFlag %} 
                {% if processedData[0].split(' or ').length === 2 %}
                <h3 class="govuk-heading-s">
                {{data.mainContent.exceptionHeader}}
                </h3>
                <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{data.mainContent.exceptionHelpText}}{{colon}}
                    {% for itr in ulIndicatorList %}
                    {% if itr.flag.trim().length === 1 %}
                        {{itr.name}}.
                    {% endif %}
                    {% if itr.flag.trim().length > 1 %}
                        {{itr.name}} ({{itr.flag.trim()}}).
                    {% endif %}
                    {% endfor %}
                    {% if data.result.FormatClarification.length > 1 %}
                        {{data.result.FormatClarification}}.
                    {% endif %}
                </p>
                {% else %}
                 <h3 class="govuk-heading-s">
                {{data.mainContent.exceptionHeader}}
                </h3>
                <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{data.mainContent.exceptionHelpText}}{{colon}}
                <ul>
                    {% for itr in ulIndicatorList %}
                    {% if itr.flag.trim().length === 1 %}
                        <li>{{itr.name}}</li>
                    {% endif %}
                    {% if itr.flag.trim().length > 1 %}
                        <li>{{itr.name}} ({{itr.flag.trim()}})</li>
                    {% endif %}
                    {% endfor %}
                    {% if data.result.FormatClarification.length > 1 %}
                    <li>{{data.result.FormatClarification}}</li>
                    {% endif %}
                </ul>
                </p>
                {% endif %} 
            {% else %}  
                {% if data.checkProcessedData.length > 0 %}
                <h3 class="govuk-heading-s">
                {{data.mainContent.exceptionHeader}}
                </h3>
                <p class="govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{data.mainContent.exceptionHelpText}}{{colon}}  
                {% for itr in ulIndicatorList %}
                {% if itr.flag.trim().length === 1 %}
                    {{itr.name}}.
                {% endif %}
                {% if itr.flag.trim().length > 1 %}
                    {{itr.name}} ({{itr.flag.trim()}}).
                {% endif %}
                {% endfor %}
                {% if data.result.FormatClarification.length > 1 %}
                    {{data.result.FormatClarification}}.
                {% endif %}
                {% endif %}
                </p>
            {% endif %}
       </div>
    {% endif %}
<div class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-1">   
 {{data.mainContent.prohibitedContentText3}} <a class="govuk-link"
 href={{data.url}}>{{data.urlText}}</a>
</div>            
{% else %}
<div class="govuk-warning-text govuk-!-margin-bottom-0">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-warning-text__assistive"></span>
    {{data.mainContent.prohibitedContentText1}} {{data.searchQuery.value | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value }} {{data.mainContent.prohibitedContentText2}} {{data.format}}.
   </strong>
</div> 
<div class="govuk-body govuk-!-padding-top-0 govuk-!-margin-bottom-1">   
 {{data.mainContent.prohibitedContentText3}} <a class="govuk-link"
 href={{data.url}}>{{data.urlText}}</a>
</div>
{% if data.result.subformat.length ===1 and processedData[0].length > 1 %}            
    <h3 class="govuk-heading-s">
        {{data.mainContent.exceptionHeader}}
    </h3>
    <div class="govuk-body">   
        <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-0">{{data.mainContent.exceptionHelpText}}{{colon}}
            {% if ulIndicatorFlag %}
                <ul>
                    {% for itr in ulIndicatorList %}
                    {% if itr.flag.trim().length === 1 %}
                        <li>{{itr.name}}</li>
                    {% endif %}
                    {% if itr.flag.trim().length > 1 %}
                        <li>{{itr.name}} ({{itr.flag.trim()}})</li>
                    {% endif %}
                    {% endfor %}
                    {% if data.result.FormatClarification.length > 1 %}
                    <li>{{data.result.FormatClarification}}</li>
                    {% endif %}
                </ul>
            {% else %}
                {% for itr in ulIndicatorList %}
                    {% if itr.flag.trim().length === 1 %}
                        {{itr.name}}.
                    {% endif %}
                    {% if itr.flag.trim().length > 1 %}
                        {{itr.name}} ({{itr.flag.trim()}}).
                    {% endif %}
                {% endfor %}
                {% if data.result.FormatClarification.length > 1 %}
                {{data.result.FormatClarification}}.
                {% endif %}
            {% endif %}
        </p>
    </div>
{% endif %}
{% endif %}
{% if data.result.ProhibitionClarification.length > 1 %}
    <h3 class="govuk-heading-s">
        {{data.mainContent.prohibitionClarificationHeader}}
    </h3>
    <p>{{data.result.ProhibitionClarification}}</p>
{% endif %}


