{% if (data.result.annex11RulesArr.length > 0)%}
<h2 class="govuk-heading-m">
  {{data.mainContent.importRulesHeader}}
</h2>
  {% for item in data.result.annex11RulesArr%}
  {% if not(ulIndicatorFlag) and item.SERVICE_SUBFORMAT.length === 0 and item.SERVICE_SUBFORMAT_EXCLUDED.length > 0 and data.result.FormatClarification.length === 0 and data.result.ProhibitionClarification.length > 0%}
  {% set processedData = data.format | capitalize + ' (other than ' + item.SERVICE_SUBFORMAT_EXCLUDED.trim() +')' %}
 {%else %}
  {% if data.result.ProhibitionClarification.length > 0 and item.SERVICE_SUBFORMAT_EXCLUDED.length > 0 %}
  {% set processedData = data.format | capitalize + ' (other than ' + item.SERVICE_SUBFORMAT_EXCLUDED.trim() +')' %}
  {%endif%}
  {% if (item.SERVICE_SUBFORMAT === '')%}
   {% set processedData =  data.removedProcessedData %}
  {% else %}
  {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'seeds for planting')%}
   {% set processedData =  'Seeds'%}
  {% endif %}
  {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'seeds for eating')%}
    {% set  processedData =   'Seeds' %}
  {% endif %}
  {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'root and tubercle vegetables')%}
    {% set processedData =  'Root and tubercle vegetables' %}
   {% endif %}
   {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'fruit') %}
   {% set processedData =  'Fruit' %}
  {% endif %}
  {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'other formats not listed') %}
   {% set processedData =  'Other formats not listed' %}
  {% endif %}
 {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'grain') %}
   {% set processedData =  'Grain' %}
  {% endif %}
   {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'cut flowers') %}
    {% set processedData =  'Cut flowers' %}
  {% endif %} 
  {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'wood packaging') %}
    {% set processedData =  'Wood packaging' %}
  {% endif %}
   {% if (item.SERVICE_SUBFORMAT.toLowerCase() === 'cooper products') %}
    {% set processedData =  'Cooper products' %}
  {% endif %}
  {% if (item.BTOM_CLARIFICATION.length > 0)%}
   {% set processedData = processedData +' ' + item.BTOM_CLARIFICATION%}
  {% endif %}
 {% endif %}
{%endif%}
{% if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 and ulIndicatorFlag and processedData[0].length > 1%}
    {% set flag = 'in the above formats'%}
  {% elif ulIndicatorFlag and processedData[0].length > 1 %}
    {% set flag = 'in the above formats'%}
  {% else %}
    {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0 %}
      {% if item['BTOM_CLARIFICATION'].length > 0 %}
        <div class='govuk-body'>
        {% set flag = 'as' + ' ' + format + ' ' + item['BTOM_CLARIFICATION']%}
        </div>
      {% else%}
        {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 or item['SERVICE_SUBFORMAT'].length > 0 or processedData.length > 0  %}
         <div class='govuk-body'>
         {% set flag = 'in the above format'%}
        </div> 
        {% else%}
          {% set flag = 'as' + ' ' + format%}
        {% endif %}
      {% endif %}  
   {% else%}
       {% set flag = 'in the above format'%}
{% endif %}
{% endif %}

 {%set formatHeader = ''%}
 {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0%}  
    {% set formatHeader = data.format + ' (other than ' + item.SERVICE_SUBFORMAT_EXCLUDED.trim() +')' %}
  {% else %}
    {% set formatHeader = item.SERVICE_SUBFORMAT | capitalize %}
  {% endif %}
{% set 11AimportRules = 'false' %}  
{% if ulIndicatorFlag %} 
  {% if data.result.seedIndicator.length > 0%}
   {% if item['BTOM_NON_EUSL'] === '11A' and  (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for planting'  or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for eating' or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit, seeds for eating') %}
   {% set 11AimportRules  = 'true'%}
   {% elif item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'fruit'%}
   {% set 11AimportRules  = 'true'%}
   {% endif %} 
  {% endif %} 
  {% if data.result.fruitIndicator.length > 0 %} 
    {% if  item['BTOM_NON_EUSL'] === '11A' and (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit' or item['SERVICE_SUBFORMAT'].toLowerCase() === 'fruit, seeds for eating')%}
    {% set 11AimportRules  = 'true'%}
    {% elif item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'seeds for eating'%}
    {% set 11AimportRules  = 'true'%}
    {% endif %}
  {%endif%}
  {% if data.result.dormantIndicator.length > 0 or data.result.hybridIndicator.length > 0 or data.result.bonsoiIndicator.length > 0 or data.result.invintroIndicator.length > 0 or data.result.FormatClarification.length > 0 or data.result.ProhibitionClarification.length > 0 %} 
    {% if item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11AimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11AimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11A'%}
    {% set 11AimportRules  = 'true'%}
    {% endif %}
  {%endif%}
{% else %}
  {% if item['BTOM_NON_EUSL'] === '11A' and  item['SERVICE_SUBFORMAT'].length > 0 %}
  {% set 11AimportRules = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11A' and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 %}
  {% set 11AimportRules  = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11A' and data.result.ProhibitionClarification.length > 0 and data.result.hybridIndicator.length > 0 and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0%}
   {% set 11AimportRules  = 'true'%}
  {% else %}
    {% if data.result.ProhibitionClarification.length > 0 %}
    {% if item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11AimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11A' and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11AimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11A'%}
    {% set 11AimportRules  = 'true'%}
    {% endif %}
   {% endif %} 
  {% endif %} 
  {% endif %}
  {% endif %} 
{% endif %}
{% if 11AimportRules === 'true'%}
<div class="govuk-body">  
  {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length >= 0 %}
  {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
  {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
    <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
  {% else %} 
    <h3 class="govuk-heading-s"> {{processedData}}</h3>
  {% endif %}
  {% else %}
  {% if ulIndicatorFlag %}
  {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
  <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
  {% else %}
  <h3 class="govuk-heading-s">
    {{processedData}}
  </h3>
  {% endif %}
  {% else %}
  {% if data.result.hybridIndicator.length > 0 and processedData.length === 0  %}
  <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
  {% else %}
  <h3 class="govuk-heading-s">
   {% if data.result.hybridIndicator.length > 0 %}
      {{formatHeader | capitalize}}
    {% else %}
      {{processedData}}
    {% endif %}
  </h3>
  {% endif %}
  {% endif %}
  {% endif %}
  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
    {{data.mainContent.unprohibitedHelpText1}}
    {{data.searchQuery.value  | replace(")", "")  | capitalize}}
    {{data.mainContent.importRulesHeaderText2}}
    {{data.countrySearchQuery.value }}
    {{flag}}, {{data.mainContent.unprohibitedHelpText3}}
  </p>
  <ul class="govuk-list govuk-list--bullet">
    {% if data.result.isEUSL === 'false'%}
       <li>
            <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#register-to-import">register to import</a> if you're a first-time importer
          </li>
          <li>
            get a <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#get-a-phytosanitary-certificate">phytosanitary certificate from the National Plant Protection Organisation of the exporting country</a>
          </li>
          <li>
            meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material&nbsp;you use
          </li>
          <li>
            <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#notify-the-relevant-authorities-about-your-import">notify the relevant authorities about your import</a>
          </li>
          <li>
            comply with documentary, <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#fees-for-plant-health-checks">identity and physical checks</a> at the border
          </li>
          <li>
          pay <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#fees-for-plant-health-checks">fees for plant health checks</a>
       </li>
    {% endif %}
  </ul>
  <div class="govuk-inset-text">
    The phytosanitary certificate may need an additional declaration.
    To find out, <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool</a>.
  </div>
</div>
{% endif %}
{% endif %}

{% set 11BimportRules = 'false' %}  
{% if ulIndicatorFlag %} 
  {% if data.result.seedIndicator.length > 0%}
   {% if item['BTOM_NON_EUSL'] === '11B' and  (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for planting'  or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for eating' or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit, seeds for eating') %}
    {% set 11BimportRules  = 'true'%}
    {% elif item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'fruit'%}
    {% set 11BimportRules  = 'true'%}
   {% endif %} 
  {% endif %} 
  {% if data.result.fruitIndicator.length > 0 %} 
    {% if  item['BTOM_NON_EUSL'] === '11B' and (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit' or item['SERVICE_SUBFORMAT'].toLowerCase() === 'fruit, seeds for eating')%}
    {% set 11BimportRules  = 'true'%}
    {% elif item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'seeds for eating'%}
    {% set 11BimportRules  = 'true'%}
    {% endif %}
  {%endif%} 
  {% if data.result.dormantIndicator.length > 0  or data.result.hybridIndicator.length > 0 or data.result.bonsoiIndicator.length > 0 or data.result.invintroIndicator.length > 0 or data.result.FormatClarification.length > 0 or data.result.ProhibitionClarification.length > 0 %} 
    {% if item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11BimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11BimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11B'%}
    {% set 11BimportRules  = 'true'%}
    {% endif %}
  {%endif%}
{% else %}
  {% if item['BTOM_NON_EUSL'] === '11B' and  item['SERVICE_SUBFORMAT'].length > 0 %}
  {% set 11BimportRules = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11B'  and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
  {% set 11BimportRules  = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11B' and data.result.ProhibitionClarification.length > 0 and data.result.hybridIndicator.length > 0 and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0%}
   {% set 11BimportRules  = 'true'%}
  {% else %}
  {% if data.result.ProhibitionClarification.length > 0%}
  {% if item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11BimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11B' and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11BimportRules  = 'true'%}
    {%elif item['BTOM_NON_EUSL'] === '11B'%}
    {% set 11BimportRules  = 'true'%}
    {% endif %}
  {% endif %} 
  {% endif %}
  {% endif %}
  {% endif %}
{% endif %} 
{% if 11BimportRules === 'true'%}
    <div class="govuk-body">
      {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
      {% if data.result.hybridIndicator.length > 0 and processedData.length === 0%}
         <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
      {% else %}
      <h3 class="govuk-heading-s">{{processedData}}</h3>
      {% endif %}
      {% else %}
      {% if ulIndicatorFlag %}
      {% if data.result.hybridIndicator.length > 0 and processedData.length === 0%}
      <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
      {% else %}
      <h3 class="govuk-heading-s">
        {{processedData}}
      </h3>
      {% endif %}
      {% else %}
      {%if data.result.hybridIndicator.length > 0  %}
      <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
      {% else %}
      <h3 class="govuk-heading-s">
      {% if data.result.hybridIndicator.length > 0 %}
        {{formatHeader | capitalize}}
      {% else %}
        {{processedData}}
      {% endif %}
      </h3>
      {% endif %}
      {% endif %}
      {% endif %}

      <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        {{data.mainContent.unprohibitedHelpText1}}
        {{data.searchQuery.value  | replace(")", "")  | capitalize}}
        {{data.mainContent.importRulesHeaderText2}}
        {{data.countrySearchQuery.value }}
        {{flag}}, {{data.mainContent.unprohibitedHelpText3}}
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          get a <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#get-a-phytosanitary-certificate-pc">phytosanitary certificate from the National Plant Protection Organisation of the exporting country </a>
        </li>
        {% if data.result.isEUSL === 'false'%}
        <li>
          meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material you use
        </li>
        {% endif %}
      </ul>
      <div class="govuk-inset-text">
        The phytosanitary certificate may need an additional declaration.
        To find out, <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool</a>.
      </div>
    </div>
{% endif %}
{% set 11CimportRules = 'false' %}  
{% if ulIndicatorFlag %} 
    {% if data.result.seedIndicator.length > 0%}
    {% if (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and  (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for planting'  or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'seeds for eating' or item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit, seeds for eating') %}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'fruit'%}
    {% set 11CimportRules  = 'true'%}
    {% endif %}  
  {% endif %} 
  {% if data.result.fruitIndicator.length > 0 %} 
    {% if  (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and (item['SERVICE_SUBFORMAT'].trim().toLowerCase() === 'fruit' or item['SERVICE_SUBFORMAT'].toLowerCase() === 'fruit, seeds for eating')%}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].trim().toLowerCase() === 'seeds for eating'%}
    {% set 11CimportRules  = 'true'%}
    {% endif %}
  {% endif %}
  {% if data.result.dormantIndicator.length > 0  or data.result.hybridIndicator.length > 0 or data.result.bonsoiIndicator.length > 0 or data.result.invintroIndicator.length > 0 or data.result.FormatClarification.length > 0 or data.result.ProhibitionClarification.length > 0 %} 
    {% if (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR')%}
    {% set 11CimportRules  = 'true'%}
    {% endif %} 
  {% endif %}   
{% else %}
  {% if (item['BTOM_NON_EUSL'] === '11C' and item['BTOM_NON_EUSL'] === 'UNR') and  item['SERVICE_SUBFORMAT'].length > 0%}
  {% set 11CimportRules = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11C'  and item['BTOM_NON_EUSL'] === 'UNR'  and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
  {% set 11CimportRules  = 'true'%}
  {% endif %}
  {% endif %}
  {% if (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and  item['SERVICE_SUBFORMAT'].length > 0 %}
  {% set 11CimportRules = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11C'  or item['BTOM_NON_EUSL'] === 'UNR'  and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
  {% set 11CimportRules  = 'true'%}
  {% else %}
  {% if item['BTOM_NON_EUSL'] === '11C'  or item['BTOM_NON_EUSL'] === 'UNR' and data.result.ProhibitionClarification.length > 0 and data.result.hybridIndicator.length > 0 and  item['SERVICE_SUBFORMAT'].length === 0 and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0%}
   {% set 11CimportRules  = 'true'%}
  {% else %}
  {% if data.result.ProhibitionClarification.length > 0%}
  {% if (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 %}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR') and item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0%}
    {% set 11CimportRules  = 'true'%}
    {% elif (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR')%}
    {% set 11CimportRules  = 'true'%}
    {% endif %}
  {%endif%}  
  {% endif %} 
  {% endif %}
  {% endif %}
{% endif %}
{% if 11CimportRules === 'true'%}
  <div class="govuk-body">
  {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
    {% if data.result.hybridIndicator.length > 0  and processedData.length === 0  %}
     <h3 class="govuk-heading-s">{{data.format | capitalize}}</h3>
    {% else %}
     <h3 class="govuk-heading-s">{{processedData}}</h3>
    {% endif %}
  {% else %}
    {% if ulIndicatorFlag %}
      {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
      <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
      {% else %}
      <h3 class="govuk-heading-s">
        {{processedData}}
      </h3>
      {% endif %}
    {% else %}
     {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
      <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
     {% else %}
       <h3 class="govuk-heading-s">
       {% if data.result.hybridIndicator.length > 0 %}
        {{formatHeader | capitalize}}
       {% else %}
        {{processedData}}
       {% endif %}
       </h3>
     {% endif %}
    {% endif %}
  {% endif %}

  <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
   
    {% if data.result.isEUSL === 'false'%}
        {{data.mainContent.unprohibitedHelpText1}}
        {{data.searchQuery.value  | replace(")", "")  | capitalize}}
        {{data.mainContent.importRulesHeaderText2}}
        {{data.countrySearchQuery.value }}
        {{flag}}, you will need to meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material you use. Your goods will be exempt from systematic controls at the border.
    </p>
 </div>
{% endif %}
{% if  item['BTOM_NON_EUSL'] === 'UNK'%}
 {% if item['BTOM_CLARIFICATION'].length > 0 %}
    <div class='govuk-body'>
    {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0%}
    {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
     <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
    {% else %}
     <h3 class="govuk-heading-s">{{processedData}}</h3>
    {% endif %}
    {% endif %}
  {% else %}
    {% if ulIndicatorFlag %}
      {% if data.result.hybridIndicator.length > 0 and processedData.length === 0 %}
      <h3 class="govuk-heading-s">{{formatHeader | capitalize}}</h3>
      {% else %}
      <h3 class="govuk-heading-s">
        {{processedData}}
      </h3>
      {% endif %}
    {% else %}
     {% if data.result.hybridIndicator.length > 0 and processedData.length === 0%}
      <h3 class="govuk-heading-s">{{formatHeader  | capitalize}}</h3>
     {% else %}
       <h3 class="govuk-heading-s">
       {% if data.result.hybridIndicator.length > 0 %}
        {{formatHeader | capitalize}}
       {% else %}
        {{processedData}}
       {% endif %}
       </h3>
     {% endif %}
    {% endif %}
  {% endif %}
    {{item['BTOM_CLARIFICATION']}}
    </div>
{% endif %}
{%endif%}    
{% endfor %}
 <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
    You can <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out how often inspections at the border have resulted in the destruction of goods.</a>
  </p>
 {%endif%}