{% if (data.result.annex11RulesArr.length > 0)%}
<h3 class="govuk-heading-m">
    {{data.mainContent.importRulesHeader}}
</h3>
{% set btom_clarification = '' %}
 {% for item in data.result.annex11RulesArr%}
   {% set btom_clarification = item['BTOM_CLARIFICATION'] %}
 {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0%}
   {% if item['BTOM_CLARIFICATION'].length > 0 %}
      {%set header = data.format | capitalize + ' (other than' + ' ' + item['SERVICE_SUBFORMAT_EXCLUDED'].trim() + ')' + ' ' + btom_clarification%}
    {% else %}
      {%set header = data.format | capitalize + ' (other than' + ' ' + item['SERVICE_SUBFORMAT_EXCLUDED'].trim() + ')' %}
  {% endif %}
 {% else %}
 {% if item['SERVICE_SUBFORMAT'].length > 0%}
  {%if (btom_clarification.length > 0)%}
  {% set header = item['SERVICE_SUBFORMAT'] | capitalize + ' ' + btom_clarification %}
  {%else%}  
  {% set header = item['SERVICE_SUBFORMAT'] | capitalize %}
  {%endif%}

{% endif %}
{% endif %}
  {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length === 0 and item['SERVICE_SUBFORMAT'].length === 0 %}
    {% if item['BTOM_CLARIFICATION'].length > 0 %}
      <div class='govuk-body'>
      {% set flag = 'as' + ' ' + format + ' ' + item['BTOM_CLARIFICATION']%}
      </div>
    {% else%}
      <div class='govuk-body'>
      {% set flag = 'as' + ' ' + format%}
      </div>
    {% endif %}
  {% else%}
    {%if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 0 or item['SERVICE_SUBFORMAT'].length > 0%}
      {% set flag = 'in the above format'%}  
    {%endif %}
  {% endif %}
  {% if item['BTOM_NON_EUSL'] === '11A'%}
    <div class="govuk-body"> 
      <h3 class="govuk-heading-s">
       {{header}}
     </h3>  
      <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
          {{data.mainContent.unprohibitedHelpText1}} {{data.searchQuery.value  | replace(")", "")  | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value }} {{flag}}, {{data.mainContent.unprohibitedHelpText3}}
      </p>    
      <ul class="govuk-list govuk-list--bullet">
          <li>
            <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#register-to-import">register to import</a> if you're a first-time importer
          </li>
          <li>
            get a <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#get-a-phytosanitary-certificate">phytosanitary certificate from the National Plant Protection Organisation of the exporting country</a>
          </li>
          <li>
            meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material&nbsp;you use
          </li>
          <li>
            <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#notify-the-relevant-authorities-about-your-import">notify the relevant authorities about your import</a>
          </li>
          <li>
            comply with <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain#get-your-goods-inspected-when-they-enter-great-britain">documentary, identity and physical checks</a> at the border
          </li>
          <li>
          pay fees, which will include <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#fees-for-plant-health-checks">plant health checks</a>
         </li>
      </ul>
      <div class="govuk-inset-text">
        The phytosanitary certificate may need an additional declaration.To find out, <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool</a>.
      </div>
    </div>  
  {% endif %}  
  {% if (item['BTOM_NON_EUSL'] === '11B')%}
    <div class="govuk-body">
      <h3 class="govuk-heading-s">   
     {{header}}
      </h3>
           
      <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
          {{data.mainContent.unprohibitedHelpText1}} {{data.searchQuery.value  | replace(")", "")  | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value }} {{flag}}, {{data.mainContent.unprohibitedHelpText3}}
      </p>   
       <ul class="govuk-list govuk-list--bullet">
        <li>
        get a <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/importing-plants-fruit-vegetables-or-plant-material-to-the-uk#get-a-phytosanitary-certificate-pc">phytosanitary certificate from the National Plant Protection Organisation of the exporting country </a>
        </li>
        <li>
        meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material you use
        </li>
  </ul>
      <div class="govuk-inset-text">
        The phytosanitary certificate may need an additional declaration.To find out, <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-requirements/import-special-requirements/requirement-for-additional-declarations-ads-on-phytosanitary-certificate-pcs/">check the additional declaration tool</a>.
      </div>
    </div>  
  {% endif %} 
  {% if (item['BTOM_NON_EUSL'] === '11C' and item['BTOM_NON_EUSL'] === 'UNR') or (item['BTOM_NON_EUSL'] === '11C' or item['BTOM_NON_EUSL'] === 'UNR')%}
    <div class="govuk-body"> 
      <h3 class="govuk-heading-s"> 
        {{header}}
      </h3>
           
      <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
          {{data.mainContent.unprohibitedHelpText1}} {{data.searchQuery.value  | replace(")", "")  | capitalize}} {{data.mainContent.importRulesHeaderText2}} {{data.countrySearchQuery.value }} {{flag}}, you will need to meet the <a class="govuk-link" rel="noreferrer noopener"  href="https://www.gov.uk/guidance/import-or-export-wood-packaging-material">ISPM 15 international standard</a> for any wood packaging material you use. Your goods will be exempt from systematic controls at the border.
      </p>  
    </div>  
  {% endif %} 
  {% if  item['BTOM_NON_EUSL'] === 'UNK'%}
  {% if item['BTOM_CLARIFICATION'].length > 0 %}
    <div class='govuk-body'>
      <h3 class="govuk-heading-s"> 
      {% if item['SERVICE_SUBFORMAT_EXCLUDED'].length > 1%}  
        {{data.format | capitalize}} (other than {{item['SERVICE_SUBFORMAT_EXCLUDED']}})
      {% else %}
      {%  if item['SERVICE_SUBFORMAT'].length > 1%}
        {{item['SERVICE_SUBFORMAT']}}
      {%else%}  
        {{data.format | capitalize}}
      {% endif %}
      {% endif %}
      <p>
      {{item['BTOM_CLARIFICATION']}}
      </p>
    </div>
  {% endif %}
  {%endif%}  
 {% endfor %} 
    <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        You can <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/non-compliance/">find out the number of interceptions that have taken place at the border.</a>
    </p>
     <p class="govuk-body govuk-!-margin-top-0 govuk-!-margin-bottom-1">
        You can also find <a class="govuk-link" rel="noreferrer noopener"  href="https://planthealthportal.defra.gov.uk/trade/imports/imports-from-the-eu/import-fees/frequency-of-plant-health-import-inspections-across-gb-from-22-july-2022/">find out the frequency of checks for your goods.</a>
    </p>
{%endif%}