{% extends 'layouts/page.njk' %}
{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: getHelpSection.betaText
  },
  html: getHelpSection.betabannertext1+" "+'<a class="govuk-link" href="#">feedback</a>'+" "+getHelpSection.betabannertext2
}) }}
  <a href="/plant-health/country-search?countrySearchQuery={{countrySearchQuery.value}}&emptyCountrySearchQuery=false&format={{format}}" class="govuk-back-link" type='button'>Back</a>
{% endblock %}
{% block content %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {% if errors.list %}
    {{ govukErrorSummary(errors.list) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set data = {
    result: result,
    mainContent: mainContent,
    searchQuery: searchQuery,
    commonNames: commonNames,
    synonymNames: synonymNames,
    preferredName: preferredName,
    eppoCode: eppoCode
    } %}
    {% include "partials/identity.njk" %}
    <h2 class="govuk-heading-m govuk-!-padding-top-3">
      {{mainContent.importRulesHeaderText1}} {{searchQuery.value | capitalize}} {{mainContent.importRulesHeaderText2}} {{countrySearchQuery.value | capitalize}}
    </h2>
    {% if (outcome) and (outcome.toLowerCase() === 'prohibited') %}
      {% if (annexSixRule) and (annexSixRule === 'INNS') %}
        {% set data = {
        result: result,
        mainContent: mainContent,
        countrySearchQuery: countrySearchQuery,
        format: format,
        searchQuery: searchQuery,
        urlText: "apply for a permit to move your plant or plant product.",
        url: "https://www.gov.uk/government/publications/invasive-alien-species-permit-application"
        } %}
        {% include "partials/import-rules.njk" %}
      {% else %}
       {% if (annexSixRule) and (annexSixRule !== 'INNS') %}
        {% set data = {
        result: result,
        mainContent: mainContent,
        countrySearchQuery: countrySearchQuery,
        format: format,
        searchQuery: searchQuery,
        urlText: "apply for authorisation to import your plant or plant product.",
        url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
        } %}
        {% include "partials/import-rules.njk" %}
      {% endif %}
      {%endif%}
    {% else %}
     {% if (outcome) and (outcome === 'partially-prohibited')%}
          {% set data = {
          ulIndicatorFlag: ulIndicatorFlag,
          result: result,
          mainContent: mainContent,
          countrySearchQuery: countrySearchQuery,
          format: format,
          searchQuery: searchQuery,
          urlText: "apply for authorisation to import your plant or plant product.",
          url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
          } %}
          {% include "partials/partially-prohibited-with-exceptions.njk" %}
          {% include "partials/partially-prohibited-import-rules.njk" %}
      {%endif%}      
     {% if (outcome) and (outcome === 'un-prohibited') %}
        {% set data = {
        result: result,
        mainContent: mainContent,
        countrySearchQuery: countrySearchQuery,
        format: format,
        searchQuery: searchQuery,
        urlText: "apply for authorisation to import your plant or plant product.",
        url: "https://www.gov.uk/guidance/moving-prohibited-plants-plant-pests-pathogens-and-soil"
        } %}
        {% include "partials/unprohibited-import-rules.njk" %}
     {% endif %}
    {% endif %}
    <h2 class="govuk-heading-m">
    {{mainContent.pestHeader}}
    </h2>
     {% if (pest_names.length === 0) %}
        <p class="govuk-body-m">{{mainContent.pestContentText1}} {{countrySearchQuery.value | capitalize}} {{mainContent.pestContentText2}}</p>
      {% else %}
        <p class="govuk-body">{{mainContent.pestContentHundredPercentText1}} {{searchQuery.value | capitalize}} 
          {{mainContent.pestContentHundredPercentText2}} 
          {{countrySearchQuery.value | capitalize}} 
          {{mainContent.pestContentHundredPercentText3}} 
          {{mainContent.pestContentHundredPercentText4}}
          </p>
          <p class="govuk-body">
            {{mainContent.pestContentHundredPercentText5}}
            <a class="govuk-link"
                  href="https://www.gov.uk/guidance/contact-apha#plant-health-reports-and-other-queries">report any suspicions of these pests or diseases to the relevant authority.
            </a>
          </p>
          <p>{{mainContent.pestContentHundredPercentText6}}</p>
          <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">{{mainContent.pestContentScientificHeader}}</th>
              <th scope="col" class="govuk-table__header">{{mainContent.pestContentCommonHeader}}</th>
              <th scope="col" class="govuk-table__header">{{mainContent.pestContentFormatHeader1}} {{searchQuery.value | capitalize}}</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in pest_names %}
              {% if (item.pest_country['STATUS'] === 'Present') or (item.pest_country['STATUS'] === 'Present (Limited)') or (item.pest_country['STATUS'] === 'Present (Unknown Distribution)') or (item.pest_country['STATUS'] === 'Present (Widespread)') %}
                <tr class="govuk-table__row">
                {% if (item.quarantine_indicator) and (item.quarantine_indicator === "R") and (format === "plants for planting")  %}
                  <td class="govuk-table__cell">{{item.name[0].NAME}}</td>
                  {% if item.name[1].NAME?.length > 0 %}
                   <td class="govuk-table__cell">{{item.name[1].NAME}}</td>
                  {% else %}
                   <td class="govuk-table__cell">{{mainContent.noneText}}</td>
                  {% endif %}
                  <td class="govuk-table__cell">{{item.regulated_indicator}}</td>
               {% else %}
               {% if (item.quarantine_indicator) and item.quarantine_indicator !== "R"%}
                  {% if item.regulation_category === "Pest free area quarantine pests (Annex 3)" %}
                    <td class="govuk-table__cell">{{item.name[0].NAME}}
                      <br>
                      <br>
                      <p class="govuk-body-s">This pest is only a concern in <a class="govuk-link" href="https://www.legislation.gov.uk/uksi/2020/1527/schedule/3/made">certain areas of Great Britain<a></p>
                    </td>
                  {% else %}
                   <td class="govuk-table__cell">{{item.name[0].NAME}}</td>
                  {% endif %}
                   {% if item.name[1].NAME.length > 0 %}
                    <td class="govuk-table__cell">{{item.name[1].NAME}}</td>
                   {% else %}
                    <td class="govuk-table__cell">{{mainContent.noneText}}</td>
                   {% endif %}
                    <td class="govuk-table__cell">{{mainContent.allFormatText}}</td>
               {% endif %}
              {% endif %}
                </tr>
              {% endif %}  
            {% endfor %}
          </tbody>
        </table>
      {% endif %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Find another plant or pest",
       href: "/plant-health?findanotherpest=true"
    }) }}
    </div>
  </div>

  {% set supportSection = {
    title: getHelpSection.titleText,
    supportMail: getHelpSection.supportUrl.href,
    email: getHelpSection.supportUrl.email,
    description: getHelpSection.supportUrl.text
  } %}
  {% include "partials/get-help.njk" %}
  {% endcall %}
{% endblock %}