{% extends 'layouts/page.njk' %}
{% block beforeContent %}
  {% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

  {{ govukPhaseBanner({
  tag: {
    text: getHelpSection.betaText
  },
  html: getHelpSection.betabannertext1+" "+'<a class="govuk-link" href="#">feedback</a>'+" "+getHelpSection.betabannertext2
}) }}
  {# todo add back link #}
  {# <a href="/plant-health/search?searchQuery={{fullSearchQuery.value}}&&countrySearchQuery={{countrySearchQuery.value}}" class="govuk-back-link" type='button'>Back</a> #}
{% endblock %}
{% block content %}
  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
  {% if errors.list %}
    {{ govukErrorSummary(errors.list) }}
  {% endif %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% set data = {
    mainContent: mainContent,
    searchQuery: searchQuery,
    commonNames: commonNames,
    synonymNames: synonymNames,
    preferredName: preferredName,
    eppoCode: eppoCode
    } %}
    {% include "partials/identity.njk" %}
    <h2 class="govuk-heading-m">
      {{mainContent.importRulesHeaderText1}} {{searchQuery.value | capitalize}} {{mainContent.importRulesHeaderText2}} {{countrySearchQuery.value | capitalize}}
    </h2>
    {% if (outcome) and (outcome === 'Prohibited') %}
      {% if (annexSixRule) and (annexSixRule === 'INNS') %}
      <h2 class="govuk-heading-m">
        {{mainContent.prohibitedHeader}}
      </h2>
      <h3 class="govuk-heading-s">
        {{mainContent.prohibitedContentText1}} {{searchQuery.value | capitalize}} {{mainContent.importRulesHeaderText2}} {{countrySearchQuery.value | capitalize}} {{mainContent.prohibitedContentText2}} {{format | capitalize}}
      </h3>
      <p class="govuk-body-s">{{mainContent.prohibitedContentText3}} <a class="govuk-link"
                href="https://www.gov.uk/government/publications/invasive-alien-species-permit-application">apply for a permit to move your plant or plant product.</a></p>
      {% endif %}
    {% endif %}
    </div>
  </div>

  {% set supportSection = {
    title: getHelpSection.titleText,
    supportMail: getHelpSection.supportUrl.href,
    email: getHelpSection.supportUrl.email,
    description: getHelpSection.supportUrl.text
  } %}
  {% include "partials/get-help.njk" %}
  {% endcall %}
{% endblock %}