{% extends 'layouts/page.njk' %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <div class="app-accessibility-page" data-module="app-accessibility-page">

      <h1 class="govuk-heading-l">{{mainContent.headerText1}}</h1>
      <p class="govuk-body">{{mainContent.paragraphText1}} <a href="https://www.gov.uk/help/accessibility-statement">accessibility
          statement for the main GOV.UK website.</a></p>

      <p class="govuk-body">{{mainContent.paragraphText2}} <a href="https://plant-health-information.defra.gov.uk/">Check plant health information and import rules.</a>
      </p>

      <h2 class="govuk-heading-m">{{mainContent.headerText2}}</h2>

      <p class="govuk-body">{{mainContent.paragraphText3}}</p>
       <ul>        
            <li class="govuk-body-m">{{mainContent.bulletText4}}</li>
                <li class="govuk-body-m">{{mainContent.bulletText5}}</li>
                    <li class="govuk-body-m">{{mainContent.bulletText6}}</li>
                        <li class="govuk-body-m">{{mainContent.bulletText7}}</li>
                        <li class="govuk-body-m">{{mainContent.bulletText8}}</li>
      </ul>

      <p class="govuk-body">{{mainContent.paragraphText4}}</p>
      <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> {{mainContent.paragraphText5}}.</p>

      <h2 class="govuk-heading-m">{{mainContent.headerText3}}</h2>
      <p class="govuk-body">{{mainContent.paragraphText6}}</p>
      <p class="govuk-body">{{mainContent.paragraphText7}}</p>
      <h2 class="govuk-heading-m">{{mainContent.headerText4}}</h2>
      <p class="govuk-body">{{mainContent.paragraphText8}} <a href="mailto:plantpestsrisks@defra.gov.uk">plantpestsrisks@defra.gov.uk.</a></p>
      <h2 class="govuk-heading-m">{{mainContent.headerText5}}</h2>
      <p class="govuk-body">{{mainContent.paragraphText9}} <a href="https://www.equalityadvisoryservice.com/">Equality Advisory and Support Service
          (EASS).</a>
      </p>
      <h2 class="govuk-heading-m">{{mainContent.headerText6}}</h2>
      <p class="govuk-body">{{mainContent.paragraphText10}}
      </p>
      <h2 class="govuk-heading-m">{{mainContent.headerText7}}</h2>
       <p class="govuk-body">{{mainContent.paragraphText11}} <a href="https://www.w3.org/TR/WCAG22/">Web Content Accessibility Guidelines
          version 2.2</a> {{mainContent.paragraphText12}}
      </p>
      <h2 class="govuk-heading-m">{{mainContent.headerText10}}</h2>
      <p class="govuk-body">{{mainContent.paragraphText14}}
      </p>
      <h2 class="govuk-heading-m">{{mainContent.headerText11}}</h2>

      <p class="govuk-body">{{mainContent.paragraphText15}}</p>
      <p class="govuk-body">{{mainContent.paragraphText16}} <a href="https://digitalaccessibilitycentre.org/">Digital Accessibility Centre (DAC).</a>
      </p>

    </div>
  </div>
</div>

{% endblock %}