{% extends 'layouts/page.njk' %}

{% block header %}
{% include "partials/cookie-banner.njk" %}  
  {{ govukHeader({
    homepageUrl: "https://www.gov.uk/",
    classes: "app-header",
    containerClasses: "govuk-width-container",
    useTudorCrown: true
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-xl">{{govukCaption}}</span>
          <h1 class="govuk-heading-l">{{govukHeading}}</h1>
          <p class="govuk-body-l">{{govukBodyTitle}}</p>
        </p>
        </div>
        <div class="govuk-grid-column-full">
          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <ul class="govuk-list govuk-body-s">
            <li>
              From: <a class="govuk-link"
                href="https://www.gov.uk/government/organisations/department-for-environment-food-rural-affairs">Department
                for Environment, Food &amp; Rural Affairs</a> and <a class="govuk-link"
                href="https://www.gov.uk/government/organisations/animal-and-plant-health-agency">Animal and Plant Health Agency</a>
            </li>
            <li>
              {{publishedSection.publishedDates.text1}}
            </li>
            <li>
              {{publishedSection.publishedDates.text2}} <a class="govuk-link" href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#full-publication-update-history">See all updates</a>
            </li>
          </ul>
        </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <section class="section-background govuk-!-padding-bottom-1 govuk-!-margin-top-2 govuk-!-padding-top-2">
              <h1 class="govuk-!-margin-left-4 govuk-heading-s" id="query" name="query">{{appliesToSection.appliesToText}}</h1>
              <p class="govuk-body govuk-!-margin-left-4 govuk-!-margin-bottom-2">
                <a class="govuk-link govuk-body"
            href="https://www.daera-ni.gov.uk/publications/import-requirements-plants-plant-produce-and-other-objects">
            Guidance for Northern Ireland</a>
              </p>
            </section>
            <p class="govuk-body govuk-!-margin-top-4">{{textBeforeStartNowSection.paragraphText1}}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{textBeforeStartNowSection.bulletText1}}</li>
              <li>{{textBeforeStartNowSection.bulletText2}}</li>
              <li>{{textBeforeStartNowSection.bulletText3}}</li>
            </ul>
            {% from "govuk/components/button/macro.njk" import govukButton %}
            {{ 
          govukButton({
            text: buttonText,
            href: "/plant-health",
            isStartButton: true
        }) 
        }}
            <h2 class="govuk-heading-m">{{textAfterStartNowSection.headerText}}</h2>
            <p class="govuk-body">{{textAfterStartNowSection.paragraphText1}}</p>
            <p>{{textAfterStartNowSection.paragraphText2}}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{textAfterStartNowSection.bulletText1}}</li>
              <li>{{textAfterStartNowSection.bulletText2}}</li>
            </ul>
            <p>{{textAfterStartNowSection.paragraphText3}}</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>{{textAfterStartNowSection.bulletText3}}</li>
              <li>{{textAfterStartNowSection.bulletText4}}</li>
              <li>{{textAfterStartNowSection.bulletText5}}</li>
            </ul>

          </div>
          <div class="govuk-grid-column-one-third">
            <hr class="horizontal_line govuk-section-break">
            <h2 class="govuk-heading-s govuk-!-margin-top-1">{{relatedContentSection.headerText}}</h2>
            <div class="govuk-body-s">
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a
              href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#register-and-pre-notify-your-goods-on-the-relevant-import-it-system">
              Import plants and plant products from the EU to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a
              href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-non-eu-countries-to-great-britain">
              Import plants and plant products from non-EU countries to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/import-high-risk-food-and-feed-not-of-animal-origin-from-the-eu-to-great-britain">
              Import high risk food and feed non-animal origin from the EU to Great Britain</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/import-of-products-animals-food-and-feed-system">
              Import of products, animals, food and feed system (IPAFFS)</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/cites-imports-and-exports">
               Import or export endangered species: check if you need a CITES permit</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/comply-with-marketing-standards-for-fresh-fruit-and-vegetables">
              Fresh fruit and vegetable marketing standards</a>
              </p>
              <p class="govuk-body-s govuk-!-margin-bottom-1">
                <a href="https://www.gov.uk/guidance/plant-health-controls">Plant health controls</a>
              </p>
              <p class="govuk-body-s">
                <a href="https://planthealthportal.defra.gov.uk/pests-and-diseases/reporting-a-pestdisease/">Reporting a
              plant pest or disease</a>
              </p>
            </div>
          </div>
        </div>
        {% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
        {% include "partials/get-help.njk" %}
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
             <ul class="govuk-list govuk-body-s">
              <li>
                {{publishedSection.publishedDates.text1}}
              </li>
              <li>
                {{publishedSection.publishedDates.text2}} <a class="govuk-link" href="https://www.gov.uk/guidance/import-plants-and-plant-products-from-the-eu-to-great-britain#full-publication-update-history">See all updates</a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    {% endblock %}