{% extends 'layouts/page.njk' %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: getHelpSection.betaText
  },
  html: getHelpSection.betabannertext1+" "+'<a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_3fnzAvYuzyPg9cG">feedback</a>'+" "+getHelpSection.betabannertext2
}) }}
 <a href='/plant-health/purpose-of-visit' class="govuk-back-link" type='button'>Back</a>
{% endblock %}
{% block content %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors.list %}
   <div class="govuk-error-summary" data-module="govuk-error-summary">
  <div role="alert">
    <h2 class="govuk-error-summary__title">
      There is a problem
    </h2>
    <div class="govuk-error-summary__body">
      <ul class="govuk-list govuk-error-summary__list">
        <li>
          <a href="#my-autocomplete">{{errorMessage.message.text}}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
  {% endif %}
  <form action='/plant-health/pest-search' method="get">
    <div aria-label="pestsearchform" class="govuk-form-group">
      <h1 class="govuk-label-wrapper">
        <label id="pestsearch1" class="govuk-label govuk-label--l" for="pestsearch1">
         What pest or disease do you want to find out about?
        </label>
      </h1>
      <label id="pestsearchhint" class="govuk-label" for="pestsearchhint">
       You can enter the scientific name or any synonyms or common names. Only non-native pests and diseases that are a risk to Great Britain are included in this service.
      </label>
{% if errorMessage.message %}
      <p id="event-name-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{errorMessage.message.text}}
  </p>
{% endif %}
   <div id="my-autocomplete-pest-container"><input aria-label="defaultValue" id="defaultValue"  style="display:none;" value='{{pestFullSearchQuery.value}}'></input><input aria-label="cslRef" id="cslRef" for ="searchResults" name="cslReff" style="display: none;" value={{cslRef}}></input></div>
  </div>
  {% if invalidPestSearchEntry %}
    <div>
    <h1 class="govuk-heading-l govuk-!-padding-top-1">
      {{mainContent.invalidSearchHeader}} '{{pestsearchQuery.value}}'
    </h1>
    <h2 class="govuk-heading-m">{{mainContent.invalidSearchContent1}}</h2>
    <h2 class="govuk-heading-m">{{mainContent.invalidSearchContent2}}</h2>
    </div>
  {% endif %}
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      id: "submitButton"
    }) }}
  </form>
 
  {% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
  {% include "partials/get-help.njk" %}
  
  {% endcall %}
{% endblock %}