{% extends 'layouts/page.njk' %}

{% block content %}
{%if statusCode === 404%}
   {% include "partials/404.njk" %}
{%endif%}
{%if statusCode === 403%}
   {% include "partials/403.njk" %}
{%endif%}
{%if statusCode === 401%}
   {% include "partials/401.njk" %}
{%endif%}
{%if statusCode === 400%}
   {% include "partials/400.njk" %}
{%endif%}  
{% if statusCode === 500 or statusCode === 502 or statusCode === 503 or statusCode === 504 %}
   {% include "partials/500.njk" %}
{%endif%}
{% endblock %}
