{% extends 'layouts/page.njk' %}
{% block beforeContent %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: getHelpSection.betaText
  },
  html: getHelpSection.betabannertext1+" "+'<a class="govuk-link" href="https://defragroup.eu.qualtrics.com/jfe/form/SV_3fnzAvYuzyPg9cG">feedback</a>'+" "+getHelpSection.betabannertext2
}) }}
  <a href='/plant-health/import-confirmation' class="govuk-back-link" type='button'>Back</a>
{% endblock %}
{% block content %}
  {% call appPageBody() %}
  {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {% if errors.list %}
    {{ govukErrorSummary(errors.list) }}
  {% endif %}
  <form action='/plant-health/search' method="get">  
    <div id="frontendUrl" style="display: none;">{{frontendUrl}}</div>
    <div aria-label="plantsearch" class="govuk-form-group">
      <h1 aria-label="heading" class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="searchinput">
          {{mainContent.headerText}}
        </label>
      </h1>
      <label class="govuk-label govuk-!-padding-bottom-2" for="searchinput">
        {{mainContent.searchText1}}
      </label>
{% if errorMessage.message %}
  <p id="event-name-error" class="govuk-error-message">
    <span class="govuk-visually-hidden">Error:</span> {{errorMessage.message.text}}
  </p>
{% endif %}
   <div id="my-autocomplete-container"><input aria-label="defaultValue" id="defaultValue"  style="display:none;" value='{{searchQuery.value}}'></input><input aria-label="hostRef" id="hostRef" for ="searchResults" name="hostReff" style="display: none;" value={{hostRef}}></input></div>
</div>
    {% from "govuk/components/button/macro.njk" import govukButton %}

    {{ govukButton({
      text: "Continue",
      id: "submitButton"
    }) }}
  </form>
  {% set supportSection = { title: getHelpSection.titleText, supportMail: getHelpSection.supportUrl.href, email: getHelpSection.supportUrl.email, description: getHelpSection.supportUrl.text } %}
  {% include "partials/get-help.njk" %}
  
  {% endcall %}
{% endblock %}